<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'statistics')}">

<body>
<dl class="row bgC">
    <dt class="col-sm-3"><label class="normal-weight">Kezdő dátum</label></dt>
    <dd class="col-sm-3"><input type="date" id="startDate" class="form-control"></dd>


    <dt class="col-sm-4"><label class="normal-weight">Vegye figyelembe a prioritást</label><input type="checkbox"
                                                                                                  name="prioritized">
    </dt>
    <dd class="col-sm-2">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="normal-weight">Prioritás</label>
            </div>
            <select class="custom-select" name="priority">
                <option value="0">1</option>
                <option value="1">2</option>
                <option value="2">3</option>
            </select>
        </div>
    </dd>

    <!--new line-->
    <dt class="col-sm-3"><label class="normal-weight">Vége dátum</label></dt>
    <dd class="col-sm-3"><input type="date" id="endDate" class="form-control"></dd>

    <dt class="col-sm-3"><label class="normal-weight">Irány figyelembevétele</label><input type="checkbox"
                                                                                           name="directionConsidered">
    </dt>
    <dd class="col-sm-3">
        <div class="float-right"><input type="radio" name="flowDirection" value="0" checked> <label
                class="normal-weight">Bevétel</label>
            <input type="radio" name="flowDirection" value="1"> <label class="normal-weight">Kiadás</label></div>
    </dd>

    <!--new line-->
    <dt class="col-sm-3"><label class="normal-weight">Kategória </label></dt>
    <dd class="col-sm-3">
        <div class="form-group">
            <select name="category" class="form-control">
                <option value="0" selected>Nincs besorolva</option>
                <option value="1">Számla</option>
                <option value="2">Fizetés</option>
                <option value="3">Szórakozás</option>
                <option value="4">Tech</option>
            </select>
        </div>
    </dd>

    <dt class="col-sm-4">
        <label class="normal-weight">Kategória figyelembevétele</label><input type="checkbox"
                                                                              name="categoryConsidered">
    </dt>
    <dd class="col-sm-2">
        <div class="float-right">
            <button id="statByDate" class="btn btn-def btn-block">Lekérdez</button>
        </div>
    </dd>
</dl>


<h1 class="text-center" th:text="#{statistics.view.header}">Statistics page</h1>
<dl class="row">
    <dt class="col-sm-12" id="cv">
        <canvas id="egyik" height="50" width="50"></canvas>
    </dt>
</dl>
</body>
</html>