<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'statistics')}">

<body>
<dl class="row">

    <dt class="col-sm-4">
        <input type="date" id="startDate" class="form-control">
    </dt>
    <dt class="col-sm-4">
        <input type="date" id="endDate" class="form-control">
    </dt>
    <dt class="col-sm-4">
        <button id="statByDate" name="but1">Lekérdez</button>
    </dt>
</dl>

<h1 class="text-center" th:text="#{statistics.view.header}">Statistics page</h1>
<dl class="row">
    <dt class="col-sm-12" id="cv">
        <canvas id="egyik" height="50" width="50"></canvas>
    </dt>
</dl>
</body>
</html>