<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'cashFlow')}">

<body>
<div class="container">
    <div class="row">
        <dl class="Absolute-Center is-Responsive">
            <h1 class="text-center" th:text="#{createOrUpdateCashFlow.header}"></h1>
            <form th:object="${cashFlow}" class="form-horizontal" id="add-cash-flow-form" method="post">
                <dl class="row">
                    <input type="hidden" th:value="${cashFlow.id}" name="id"/>
                    <input
                            th:replace="~{fragments/inputField :: input (#{createOrUpdateCashFlow.form.name}, 'name', 'text', false, '', 20)}"/>
                    <input
                            th:replace="~{fragments/inputField :: input (#{createOrUpdateCashFlow.form.description}, 'description', 'text', false, '', 300)}"/>
                    <input
                            th:replace="~{fragments/inputField :: input (#{createOrUpdateCashFlow.form.amount}, 'amount', 'text', false, 'Ft', 10)}"/>
                    <input
                            th:replace="~{fragments/selectField :: select (#{createOrUpdateCashFlow.form.category}, 'category', ${T(com.torodavid.thesis.financialregister.dal.enums.Category).values()}, false)}"/>
                    <input
                            th:replace="~{fragments/selectField :: select (#{createOrUpdateCashFlow.form.flowDirection}, 'flowDirection', ${T(com.torodavid.thesis.financialregister.dal.enums.FlowDirection).values()}, false)}"/>
                    <input
                            th:replace="~{fragments/selectField :: select (#{createOrUpdateCashFlow.form.priority}, 'priority', ${T(com.torodavid.thesis.financialregister.dal.enums.Priority).values()}, false)}"/>
                </dl>
                <div class="form-group">
                    <button class="btn btn-def btn-block" type="submit"
                            th:text="#{createOrUpdateCashFlow.submit}"></button>
                </div>
            </form>
    </div>
</div>
</div>
</body>
</html>