<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="~{fragments/layout :: layout (~{::body},'cashFlows')}">

<body>

<h1 class="text-center" th:text="#{cashFlow.details.header}">Cash-flows</h1>

<table class="table table-striped" th:object="${cashFlowPage}">
    <thead class="table-primary">
    <tr>
        <th th:text="#{cashFlow.details.table.name}">NAME</th>
        <th th:text="#{cashFlow.details.table.description}">DESCRIPTION</th>
        <th th:text="#{cashFlow.details.table.amount}">AMOUNT</th>
        <th th:text="#{cashFlow.details.table.category}">CATEGORY</th>
        <th th:text="#{cashFlow.details.table.priority}">PRIORITY</th>
        <th th:text="#{cashFlow.details.table.direction}">FLOW DIRECTION</th>
        <th th:text="#{cashFlow.details.table.modify}" sec:authorize="!hasRole('ROLE_ADMIN')">Modisitas</th>
        <th th:text="#{cashFlow.details.table.delete}" sec:authorize="!hasRole('ROLE_ADMIN')">Torles</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cashFlow, iStat : ${cashFlowPage.content}" th:title="${title}">
        <td th:text="${cashFlow.name}">Kisnyul</td>
        <td th:text="${cashFlow.description}">Bazinagy kisnyul</td>
        <td th:text="${cashFlow.amount}">sok Bazinagy kisnyul</td>
        <td th:text="${cashFlow.category.name}">Szorakozas</td>
        <td th:text="${cashFlow.priority.name}">FONTOS NYUL</td>
        <td th:text="${cashFlow.flowDirection.name}">Kiadas</td>
        <td sec:authorize="!hasRole('ROLE_ADMIN')"><a th:href="@{modify/__${cashFlow.id}__}">Modify</a></td>
        <td sec:authorize="!hasRole('ROLE_ADMIN')"><a th:href="@{delete/__${cashFlow.id}__}">Delete</a></td>
    </tr>
    </tbody>
</table>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="d-flex flex-wrap" th:if="${cashFlowPage.totalPages > 0}">
                <div th:each="pageNumber : ${pageNumbers}" class="page-item"
                     th:classappend="${pageNumber==cashFlowPage.number + 1} ? active">
                    <a class="page-link"
                       th:href="@{/cashFlow/list(size=${cashFlowPage.size}, page=${pageNumber})}"
                       th:text="${pageNumber}"> </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>