<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'cashFlow')}">

<body>

<h2>Cash-flows</h2>


<table class="table table-striped" th:object="${cashFlowPage}">
    <thead class="table-primary">
    <tr>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>AMOUNT</th>
        <th>CATEGORY</th>
        <th>PRIORITY</th>
        <th>FLOW DIRECTION</th>
        <th>Modisitas</th>
        <th>Torles</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cashFlow, iStat : ${cashFlowPage.content}" th:title="${title}">
        <td th:text="${cashFlow.name}">Kisnyul</td>
        <td th:text="${cashFlow.description}">Bazinagy kisnyul</td>
        <td th:text="${cashFlow.amount}">sok Bazinagy kisnyul</td>
        <td th:text="${cashFlow.category.name}">Szorakozas</td>
        <td th:text="${cashFlow.priority.name}">FONTOS NYUL</td>
        <td th:text="${cashFlow.flowDirection.name}">Kiadas</td>
        <td><a th:href="@{modify/__${cashFlow.id}__}">Modify</a></td>
        <td><a th:href="@{delete/__${cashFlow.id}__}">Delete</a></td>
    </tr>
    </tbody>
</table>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="d-flex flex-wrap" th:if="${cashFlowPage.totalPages > 0}">
                <div th:each="pageNumber : ${pageNumbers}" class="page-item"
                     th:classappend="${pageNumber==cashFlowPage.number + 1} ? active">
                    <a class="page-link"
                       th:href="@{/cashFlow/list(size=${cashFlowPage.size}, page=${pageNumber})}"
                       th:text="${pageNumber}"> </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>