<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'cashFlow')}">

<body>

<h2>Cash-flow list</h2>

<table class="table table-striped table-dark" th:object="${cashFlows}">
    <tr>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>CATEGORY</th>
        <th>PRIORITY</th>
        <th>FLOW DIRECTION</th>
    </tr>
    <tr th:each="cashFlow : ${cashFlows}">
        <td th:text="${cashFlow.name}">Kisnyul</td>
        <td th:text="${cashFlow.description}">Bazinagy kisnyul</td>
        <td th:text="${cashFlow.category.name}">Szorakozas</td>
        <td th:text="${cashFlow.priority.name}">FONTOS NYUL</td>
        <td th:text="${cashFlow.flowDirection.name}">Kiadas</td>
    </tr>
</table>
<!--
<a th:href="@{{id}/edit(id=${cashFlow.id})}" class="btn btn-default">Edit cash-flow</a>
-->
<br />

</body>

</html>
