<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'login')}">

<body>

<div class="container">
    <div class="row">
        <div class="Absolute-Center is-Responsive">

            <h1 th:text="#{users.login.form.title}" class="text-center">form</h1>
            <div>
                <form th:object="${user}" method="POST">

                    <dl class="row">
                        <dt class="col-sm-6"><label th:text="#{label.user.username}">first</label></dt>
                        <dd class="col-sm-6"><input th:field="*{username}"/>
                            <p th:each="error: ${#fields.errors('username')}" th:text="${error}">Validation error</p>
                        </dd>

                        <dt class="col-sm-6"><label th:text="#{label.user.password}">password</label></dt>
                        <dd class="col-sm-6"><input type="password" th:field="*{password}"/>
                            <p th:each="error : ${#fields.errors('password')}" th:text="${error}">Validation error</p>
                        </dd>
                    </dl>
                    <div class="form-group">
                        <button type="submit" th:text="#{user.login.form.submit}" class="btn btn-def btn-block">login
                        </button>
                    </div>
                </form>
                <a th:href="@{/users/registration}" th:text="#{user.login.toRegistration}">registration</a>
            </div>
        </div>
    </div>
</div>


</body>
</html>