<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'profile')}">

<body>
<div class="container">
    <div class="row">
        <dl class="Absolute-Center is-Responsive">

            <h1 class="text-center" th:text="#{user.profile.header}">Profile page</h1>
            <form th:object="${userDto}" class="form-horizontal" id="add-cash-flow-form" method="post">
                <dl class="row">
                    <input type="hidden" th:value="${userDto.id}" name="id"/>
                    <input
                            th:replace="~{fragments/inputField :: input (#{user.profile.username}, 'username', 'text', true)}"/>
                    <input
                            th:replace="~{fragments/inputField :: input (#{user.profile.email}, 'email', 'email', null)}"/>
                    <input
                            th:replace="~{fragments/inputField :: input (#{user.profile.password}, 'password', 'password', null)}"/>
                    <input
                            th:replace="~{fragments/inputField :: input (#{user.profile.matchingPassword}, 'matchingPassword', 'password', null)}"/>

                </dl>
                <div class="form-group">
                    <button class="btn btn-def btn-block" type="submit" th:text="#{user.profile.modify}">Modify profile
                    </button>
                </div>
            </form>
    </div>
</div>
</div>
</body>
</html>