<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'cashFlow')}">

<body>

<h2 th:text="#{users.list.title}">form</h2>

<table class="table table-striped" th:object="${users}">
    <thead class="table-primary">
    <tr>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>Modisitas</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}" th:title="${title}">
        <td th:text="${user.username}">Kisnyul</td>
        <td th:text="${user.email}">Bazinagy kisnyul</td>
        <td> <a th:href="@{modify/__${user.id}__}">Modify</a></td>
    </tr>
    </tbody>
</table>

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>
<br/>

</body>

</html>
