<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'userDetails')}">

<body>

<h1 class="text-center" th:text="#{users.list.title}">form</h1>

<table class="table table-striped" th:object="${userDtoPage}">
    <thead class="table-primary">
    <tr>
        <th th:text="#{user.details.table.name}">NAME</th>
        <th th:text="#{user.details.table.email}">EMAIL</th>
        <th th:text="#{user.details.table.modify}">Modisitas</th>
        <th th:text="#{user.details.table.delete}">Torles</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user, iStat : ${userDtoPage.content}" th:title="${title}">
        <td th:text="${user.username}">Kisnyul</td>
        <td th:text="${user.email}">Bazinagy kisnyul</td>
        <td> <a th:href="@{profile/__${user.username}__}">Modify</a></td>
        <td> <a th:href="@{delete/__${user.id}__}">Delete</a></td>
    </tr>
    </tbody>
</table>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="d-flex flex-wrap" th:if="${userDtoPage.totalPages > 0}">
                <div th:each="pageNumber : ${pageNumbers}" class="page-item"
                     th:classappend="${pageNumber==userDtoPage.number + 1} ? active">
                    <a class="page-link"
                       th:href="@{/users/list(size=${userDtoPage.size}, page=${pageNumber})}"
                       th:text="${pageNumber}"> </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
