<html>
<body>
<form>
    <th:block th:fragment="input (label, name, type, readonly, inputGroupText, length)">
        <dt class="col-sm-6 text-truncate"><label class="col-sm-2 control-label" th:text="${label}">Label</label></dt>
        <dd class="col-sm-6">
            <div th:switch="${type}">

                <div th:case="'text'">
                    <div th:if="${#strings.length(inputGroupText) > 0}" class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Ft</div>
                        </div>
                        <input class="form-control" type="text" th:field="*{__${name}__}"
                               th:readonly="${readonly}" th:maxlength="${length}"/>
                    </div>
                    <input th:if="${#strings.length(inputGroupText) == 0}" class="form-control" type="text"
                           th:field="*{__${name}__}" th:classappend="${#fields.hasErrors(name)} ?  'is-invalid' : '' "
                           th:readonly="${readonly}" th:maxlength="${length}"/>
                    <div th:classappend="${#fields.hasErrors(name)} ?  'invalid-feedback' : '' "
                         th:each="error: ${#fields.errors(name)}"
                         th:text="${error}">Validation error
                    </div>

                </div>

                <input th:case="'date'" class="form-control" type="text" th:field="*{__${name}__}"
                       placeholder="YYYY-MM-DD" title="Enter a date in this format: YYYY-MM-DD"
                       pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"/>
                <input th:case="'email'" class="form-control" type="email" th:field="*{__${name}__}"/>
                <!--<input th:case="'password'" class="form-control" type="password" th:field="*{__${name}__}"/>-->

                <input th:case="'password'" th:maxlength="10" class="form-control" type="password"
                       th:classappend="${#fields.hasErrors(name)} ?  'is-invalid' : '' "
                       th:field="*{__${name}__}"/>
                <div th:classappend="${#fields.hasErrors(name)} ?  'invalid-feedback' : '' "
                     th:each="error : ${#fields.errors(name)}"
                     th:text="${error}">Validation error
                </div>

            </div>
        </dd>
    </th:block>
</form>
</body>
</html>