<!doctype html>
<html th:fragment="layout (template, menu)" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <title>Pls</title>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <img th:src="@{/resources/images/nc.png}" width="30" height="40" class="d-inline-block align-top" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav navbar-right">
            <!-- TODO: kirakni ezt a fragmentet kulon fileba -->
            <li th:fragment="menuItem (path,active,title,glyph,text)" class="active"
                th:class="${active==menu ? 'active' : ''}">
                <a th:href="@{__${path}__}" th:title="${title}" class="nav-item nav-link">
                        <span th:class="'glyphicon  glyphicon-'+${glyph}" class="glyphicon glyphicon-home"
                              aria-hidden="true"></span>
                    <span th:text="${text}">Template</span>
                </a>
            </li>
            <!-- TODO: irni egy dropDownMenu fragmentet, valami mapet atadni aminek kulcsai path-ek, ertekei a legordulo menu szovegei, valahogy igy
                        cashFlow: ${ {find:'Kereses', create:'Letrehozas', list:'Osszes'} }
                        aztan
            <li th:fragment="menuDropDownItem (path,active,title,glyph,text)" class="nav-item dropdown active"
                th:class="${active==menu ? 'active' : ''}">
                <a th:href="@{__${path}__}" th:title="${title}" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span th:class="'glyphicon  glyphicon-'+${glyph}" class="glyphicon glyphicon-home"
                              aria-hidden="true"></span>
                    <span th:text="${text}">Template</span>
                </a>
            </li>-->

            <li th:replace="::menuItem ('/','home','Home page','home','Home')">
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="cashFlowDropDown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Pénzmozgás
                </a>
                <div class="dropdown-menu" aria-labelledby="cashFlowDropDown">
                    <a class="dropdown-item" href="/cashFlow/new">Uj</a>
                    <a class="dropdown-item" href="/cashFlow/find">Kereses</a>
                    <a class="dropdown-item" href="/cashFlow/list">Osszes</a>
                </div>
            </li>

            <!-- ez majd az admin menosege lesz -->
            <li th:replace="::menuItem ('/users/list','user','Felhasználók oldala','search','Felhasználók')"></li>
            <li th:replace="::menuItem ('/users/registration','registration','Regisztrációs oldal','registration','Regisztráció')"></li>
            <li th:replace="::menuItem ('/users/login','login','Bejelentkező oldal','login','Bejelentkezés')"></li>

        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="container xd-container">

        <th:block th:include="${template}"/>

        <br/>
        <br/>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">

                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/jquery/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>


</body>

</html>