<!doctype html>
<html th:fragment="layout(template, menu)" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">

    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}"/>
    <title>Pls</title>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <img th:src="@{/resources/images/nc.png}" width="30" height="40" class="d-inline-block align-top" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav navbar-right">
            <!-- TODO: kirakni ezt a fragmentet kulon fileba -->
            <li th:fragment="menuItem (path,active,title,glyph,text)" class="active"
                th:class="${active==menu ? 'active' : ''}">
                <a th:href="@{__${path}__}" th:title="${title}" class="nav-item nav-link">
                        <span th:class="'glyphicon  glyphicon-'+${glyph}" class="glyphicon glyphicon-home"
                              aria-hidden="true"></span>
                    <span th:text="${text}">Template</span>
                </a>
            </li>

            <li th:replace="::menuItem ('/','home','Home page','home',#{label.navbar.home})">
            </li>

            <li th:replace="::menuItem ('/about','about','Az oldalról','about',#{label.about.header})">
            </li>

            <li sec:authorize="hasRole('ROLE_USER')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="cashFlowDropDown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" th:text="#{layout.navbar.dropdown.cashFlow}">
                    Pénzmozgás
                </a>
                <div class="dropdown-menu" aria-labelledby="cashFlowDropDown">
                    <a class="dropdown-item" href="/cashFlow/new">Uj</a>
                    <a class="dropdown-item" href="/cashFlow/find">Kereses</a>
                    <a class="dropdown-item" href="/cashFlow/list">Osszes</a>
                </div>
            </li>

            <li th:replace="::menuItem ('/users/list','userDetails','Felhasználók oldala','search',#{layout.navbar.menuItem.users})"
                sec:authorize="hasRole('ROLE_ADMIN')"></li>
            <li th:replace="::menuItem ('/users/registration','registration','Regisztrációs oldal','registration',#{layout.navbar.menuItem.registration})"
                sec:authorize="hasRole('ROLE_ANONYMOUS')"></li>
            <li th:replace="::menuItem ('/users/login','login','Bejelentkező oldal','login',#{layout.navbar.menuItem.login})"
                sec:authorize="hasRole('ROLE_ANONYMOUS')"></li>
            <li th:replace="::menuItem ('/statistics/view','login','Statisztika','statistics',#{layout.navbar.menuItem.statistics})"
                sec:authorize="hasRole('ROLE_USER')"></li>
            <li th:replace="::menuItem ('/users/profile/' + ${#authentication.getPrincipal().getUsername()},'profile','Profile','profile',#{layout.navbar.menuItem.profile})"
                sec:authorize="isAuthenticated()"></li>
            <li th:replace="::menuItem ('/users/logout','logout','Kijelentkezls oldala','logout',#{layout.navbar.menuItem.logout})"
                sec:authorize="isAuthenticated()"></li>
        </ul>
    </div>
    <div class="collapse navbar-collapse" sec:authorize="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="'/users/profile/' + ${#authentication.getPrincipal().getUsername()}">
                    <span th:text="${#authentication.getPrincipal().getUsername()}">Template</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="container xd-container">
        <th:block th:include="${template}"/>
    </div>
</div>
<script th:src="@{/resources/jquery/jquery-3.3.1.min.js}"></script>
<script th:src="@{/resources/jquery/jquery-ui.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/Chart.js}"></script>
<script>

    $("#statByDate").click(function (e) {
        e.preventDefault();
        $("canvas#egyik").remove();
        $("#cv").append('<canvas id="egyik" class="animated fadeIn"></canvas>');
        var ctx = document.getElementById("egyik").getContext("2d");
        $.ajax({
            url: '',
            type: "post",
            contentType : "application/json",
            dataType : 'json',
            data: JSON.stringify({
                "startDate": $("#startDate").val().toString(),
                "endDate": $("#endDate").val().toString(),
            }),

            success: function (result) {
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: Object.keys(result),
                        datasets: [{
                            label: 'Pénzmozgás',
                            data: Object.values(result),
                            backgroundColor: [
                                'rgba(54, 162, 235, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            },
            error: function (result) {
            }
        });
    });

</script>

</body>

</html>