<!DOCTYPE html >

<html th:replace="~{fragments/layout :: layout (~{::body},'about')}" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div class="container">
    <div class="row">
        <div class="Absolute-Center is-Responsive">
            <div class="row" >
                <div class="col-md-12">
                    <h1 class="text-center" th:text="#{label.about.header}"></h1>
                </div>
                <div>
                    <p class="text-justify">HELLO SZIA EZ ITT A LEIRAS HELLO SZIA EZ ITT A LEIRAS HELLO SZIA EZ ITT A LEIRAS HELLO SZIA EZ ITT A LEIRAS HELLO SZIA EZ ITT A LEIRAS
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>