<!DOCTYPE html >

<html th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>

<h2>Welcome Kisnyul!</h2>
<div class="row" sec:authorize="isAuthenticated()">
    <div class="col-md-12">
        Csumika
    </div>
</div>

<!--<div class="row" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
    <div class="col-md-12">
        Teszt
    </div>
</div>-->

<div class="row" sec:authorize="hasRole('dAdDssMIN')">
    <div class="col-md-12">
        Teszt2
    </div>
</div>

</body>

</html>